@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccesor
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome , @HttpContextAccesor.HttpContext.Session.GetString("Email")</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
